<div class="container">
  <div class="row">
    <h1>Welcome to Puppies!</h1>
  </div>
  <div class="row">
    <form class="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="inputID">ID</label>
        <input type="text" [(ngModel)]="signInFormData.id" name="id" id="inputID" class="form-control mx-sm-3">
        <label for="inputPassword">Password</label>
        <input type="password" [(ngModel)]="signInFormData.pw" name="pw" id="inputPassword" class="form-control mx-sm-3">
        <input type="submit">
      </div>
      <p class="text-danger" *ngIf="errorMessage">{{ errorMessage }}</p>
    </form>
  </div>
  <div class="row">
    <img class="img-fluid" *ngIf="dogPhotoUrl" [src]="dogPhotoUrl">
  </div>
</div>
